@model Web.Models.Genre

<h2>Details</h2>

<div>
    <h4>Genre</h4>
    <dl class="row">
        <dt class="col-sm-2">Name</dt>
        <dt class="col-sm-10">@Model.Name</dt>
    </dl>
</div>
<a asp-action="Index" class="btn btn-primary">Back to list</a>
