<h1>Session</h1>
<table class="table">
    <thead>
        <tr>
            <th>Get</th>
            <th>Set</th>
            <th>Clear</th>
            <th>Time out</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a asp-action="GetSession">Get</a>
            </td>
            <td>
                <a asp-action="SetSession">Set</a>
            </td>
            <td>
                <a asp-action="ClearSession">Clear</a>
            </td>
            <td>
                <a asp-action="TimeSession">Time check</a>
            </td>
        </tr>
    </tbody>
</table>
